@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@layer base {
  html {
    /* ['Helvetica', 'Arial', 'sans-serif'] */
    font-family: Helvetica, system-ui, sans-serif;
  }
}

input,
select,
textarea {
  @apply rounded;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #0f172a !important;
}
.banner {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* thumbnail product */

.productImagesSlider .swiper-slide {
  padding-top: 73%;
  @apply overflow-hidden relative;
}
.productImagesSlider .swiper-slide img {
  @apply absolute top-0 left-0 w-full;
}
.productImagesSliderThumbs {
  @apply mt-3;
}

.productImagesSliderThumbs .swiper-slide {
  @apply cursor-pointer	opacity-60;
}

.productImagesSliderThumbs .swiper-slide.swiper-slide-thumb-active {
  @apply opacity-100 border-2;
}

.webkit-line-clamp-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  @apply mb-5 block rounded-sm  shadow-sm;
}

.card-category {
  @apply h-48 overflow-hidden;
}
.breakcrumb_title {
  @apply font-bold text-2xl;
}
.breakcrumb_list {
  @apply flex flex-row;
}
.breakcrumb_list li:first-child {
  @apply mr-2 ml-0;
}
.breakcrumb_list li {
  @apply mr-2 ml-2;
}
.breakcrumb_list li:last-child {
  @apply mr-0 ml-2;
}

.brandHana {
  font-family: "Castoro Titling", cursive !important;
}

.primary-button {
  @apply bg-black hover:bg-slate-900 text-white font-bold py-2 px-4 rounded;
}

//LOADER
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

// miniGame
.bhdLno {
  position: relative;
  width: 100vw !important;
  max-width: 650px !important;
  height: 100vw !important;
  max-height: 650px !important;
  object-fit: contain;
  flex-shrink: 0;
  z-index: 5;
  pointer-events: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  border: 0;
}
